/* App.css */

/* Style de l'en-tête */
.header {
  background-image: radial-gradient(circle, rgba(15,0,36,1) 0%, rgba(65,15,103,1) 70%, rgba(0,212,255,1) 100%);
  color: #fff;
  padding: 40px;
  text-align: center;
}

/* Style de la photo de profil */
.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -100px;
}



/* Style du menu de navigation */


.navbar{
  background-color: gainsboro;
}




.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;

}

.navbar li {
  display: inline-block;
  margin: 0 10px;
}

.navbar a {
  color: #007bff;
  text-decoration: none;
}

.navbar a:hover {
  color: #0056b3;
}

/* Style des sections de contenu */
.section {
  padding: 60px 0;
}

.section h2 {
  margin-bottom: 40px;
}

.section h3 {
  margin-top: 0;
}

/* Style du pied de page */
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.profile-img {
  margin-top: 2px;
}





@media (min-width: 768px) {
  .project-card {
    width: calc(33.33% - 10px);
    margin-right: 10px;
  }

  .project-card:last-child {
    margin-right: 0;
  }

  .social-container {
    background: #eee;
    padding: 25px 50px;
  }
  
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }
  
  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }
}